# Python cache and compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
.env

# Distribution/build
build/
dist/
*.egg-info/

# Jupyter notebooks
.ipynb_checkpoints/

# Machine learning artifacts
*.h5
*.ckpt
logs/
models/

# Logging files
*.log
.neptune/
wandb

# Hidden files
.DS_Store
*.swp
._*

# Images
output/

# Files
*.csv
*.json
*.yaml
*.yml
*.jsonl
*.html

# Legacy files
example/
legacy/

Dockerfile